<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461374782162-gjvcs5c0ilvnbockcaf3acgh2ukeq03o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461374782162-gjvcs5c0ilvnbockcaf3acgh2ukeq03o</string>
	<key>API_KEY</key>
	<string>AIzaSyATCo-LBddVwN5Ws-oheRhYd6duZjDlRzE</string>
	<key>GCM_SENDER_ID</key>
	<string>461374782162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestFlutterUiTemplates</string>
	<key>PROJECT_ID</key>
	<string>unidust-fcd16</string>
	<key>STORAGE_BUCKET</key>
	<string>unidust-fcd16.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461374782162:ios:2c9297909c86071a634b0b</string>
</dict>
</plist>